<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %}
Register Page
{% endblock %} 
{% block content %}
<body class="text-left">
  <div class="container">
    <form method="POST" class="form-register" readonly style="color: white">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
      <br />
      <!-- prettier-ignore -->
      {{ form.mobile_number(class='form-control', placeholder='Mobile Number', id="mobile_number")
      }}
      <br />
      {{ form.first_name(class='form-control', placeholder='First Name', id="first_name") }}
      <br />
      {{ form.last_name(class='form-control', placeholder='Last Name', id="last_name") }}
      <br />
      {{ form.birth_date.label() }}
      <br />
      {{ form.birth_date(type='date', id="date_form") }}

      <br />
      {% for subfield in form.gender %}
      <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      </tr>

      {% endfor %}
      <br />
      {{ form.email_address(class='form-control', placeholder='Email', id="email_form") }}

      <br />

      {{ form.submit(class="btn btn-lg btn-block btn-primary", id="submit_form") }}

    </form>

    <br />
    {% if afterForm == 'OK' %}
    <a id='login' class="btn btn-lg btn-block btn-primary" href="{{ url_for('signin') }}">Login</a>
    <script>
        document.getElementById('mobile_number').setAttribute("disabled", "true");
    </script>
    <script>
        document.getElementById('first_name').setAttribute("disabled", "true");
        document.getElementById('last_name').setAttribute("disabled", "true");
        document.getElementById('date_form').setAttribute("disabled", "true");
        document.getElementById('email_form').setAttribute("disabled", "true");
        document.getElementById('submit_form').setAttribute("disabled", "true");
    </script>
    {% endif %}

  </div>
</body>

{% endblock %}